
.idea/

__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
dist/
.mypy_cache/
.ruff_cache/

notex.txt

Algorithm.synctex.gz

Algorithm.tex

example measurements/lz/

BPHS Lukas.txt

example measurements/lz1/

example measurements/lz2/

Algorithm.pdf
